<!DOCTYPE html>
<html>

<head>

<title>Patient Summary Generator</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-card">

<h1>Patient Summary Generator</h1>

<form method="post" class="summary-form">

<input type="text" name="name" placeholder="Patient Name" required>

<input type="number" name="age" placeholder="Age" required>

<textarea name="symptoms" placeholder="Enter symptoms"></textarea>

<button type="submit">Generate</button>

</form>

{% if result %}

<div class="summary-result">

<h2>Generated Summary</h2>

<h3>Patient Summary</h3>

<p><strong>Name:</strong> {{result.name}}</p>

<p><strong>Age:</strong> {{result.age}}</p>

<p><strong>Symptoms:</strong></p>
<p>{{result.symptoms}}</p>

<p><strong>Observation:</strong></p>
<p>{{result.observation}}</p>

<p><strong>Advice:</strong></p>
<p>{{result.advice}}</p>

</div>

{% endif %}

<a class="back-btn" href="/">⬅ Back</a>

</div>

</body>

</html>
